/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body{
	background-color: #000;
	color:white;

}
.content{
	background-color: #fff;
	width: 80%;
	height: 450px;
	margin: 5% 10% 0px 10%;
}

.scoreboard{
}
